### This file contains parameters to run all thesaurus constructions

### File: StatisticalThesaurus.py
# Max number of similar terms recorded in the XML file
max_qty_terms=100

# Values of the threshold to syntactic contexts reduction (number of the minimum frequency of a syntactic context)
min_freq_t3=1

### File: LSATheusaurs.py
# Values of the number of dimensions to reduce the SVD (quantity of singular values)
svd_treshold=250

# Values of the threshold to syntactic contexts reduction (number of the minimum frequency of a syntactic context)
min_freq_t2=2

### File: StatisticalThesaurus.py
# Precision of the Mutual Information result (number of zeros in the answer)
mi_precision=10

# Size of the window to compute the correlation analysis
window_size=3
